{% extends 'layout.twig' %}

{% block head_javascripts %}
  <script src="./vulkan.bundle.js"></script>
{% endblock %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
{% endblock %}
